if direnv version 2.23.0; then
    if ! has nix_direnv_version || ! nix_direnv_version 1.6.1; then
        source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.6.1/direnvrc" \
            "sha256-aFwy76WtzXD7SVXWetpg+welXMZI/VcEUPQ2WUMXYSY="
    fi
fi

if nix flake metadata &>/dev/null; then
    use flake
else
    use nix
fi
